header {
    padding: 20px 0;
    background-image: url('../images/Bitmap.png'); 
    background-size: cover; 
    background-attachment: local; 
    background-position: center;
}

.header__nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.logo img {
    margin-right: 500px;
}

.header__nav li {
    color: #fff;
    margin-left: 60px;
}

.header__nav-link a {
    font-weight: 500;
}

.btn {
    background-color: #fff;
    color: #606B74;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a3a3a3;
    color: #fff;
}