.footer {
    background-color: #26353B; 
    padding: 40px 0;
}

.footer-container {
    display: flex;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}

.footer-left {
    flex: 1;
    justify-content: center;
}

.footer-center {
    flex: 2;
    justify-content: center;
}

.footer-right {
    flex: 1;
    justify-content: center;
}

.footer-left a {
    color: #fff;
    opacity: 0.6;
    font-size: 14px;
    font-family: Rubik, sans-serif;
}

.footer-center .footer-logo {
    max-width: 150px;
}

.footer-right a {
    color: #fff;
    margin-left: 20px;
    font-size: 12px;
}

.footer-right a:hover {
    color: #a3a3a3;
}
