.footer {
    background-color: #26353B; /* Темний фон */
    padding: 40px 0; /* Відступи зверху і знизу */
    color: #fff; /* Білий текст */
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Розташування елементів з рівномірним проміжком */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; /* Центрування */
    padding: 0 20px; /* Відступи з боків */
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}

.footer-left a {
    color: #fff;
    opacity: 0.60; 
    font-size: 12px; 
    font-family: Rubik; 
    font-weight: 500;
}

.footer-center .footer-logo {
    max-width: 150px; /* Розмір логотипу */
}

.footer-right a {
    color: #fff; /* Білий колір тексту */
    text-decoration: none;
    margin-left: 20px; /* Відступ між "Cookies" і "Privacybeleid" */
}

.footer-right a:hover {
    color: #a3a3a3; /* Колір при наведенні */
}