.hero {
    height: 600px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 400px;
}

.hero h1{
    opacity: 0.80;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
}

.hero h2 {
    margin-top: -10px;
    width: 440px;
    font-size: 30px;
    font-family: Merriweather;
    font-weight: 900;
}

.social-media {
    margin-top: 265px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.social-media a {
    font-weight: 500;
    font-size: 14px;
    transform: rotate(90deg); 
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #a3a3a3;
}
.btn-play {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}