.innovative {
    height: 200px;
    padding: 50px 60px;
    background-color: #26353B;
    color: #fff;
}

.title {
    font-size: 30px;
    font-family: Merriweather, serif;
    font-weight: 900;
    margin: 0;
    margin-left: 120px;
}

.box {
    padding: 20px;
    display: flex;
    gap: 40px;
}

.box p {
    opacity: 0.70;
    font-family: Rubik, sans-serif;
    line-height: 24px;
}