.intro {
    display: flex;
}

.intro .text {
    width: 400px;
}

.intro .text h1 {
    font-family: Merriweather;
    margin-bottom: 10px;
}

.intro .text p {
    color: #646D70; 
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px;
}

.intro .text .btn {
    width: 70px;
    border: 1px solid #000; 
    color: #606B74;
    background-color: #fff;
    font-size: 14px;
}

.intro .text .btn:hover {
    background-color: #a3a3a3;
    border: 1px solid #a3a3a3;
}