.USP {
    display: flex;
    padding: 30px;
}

.USP .photo {
    flex: 1;
    margin-right: 100px;
}

.USP .photo img {
    width: 100%;
}

.USP .text-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    flex: 1;
}

.text-block {
    padding: 20px;
}

.text-block h1 {
    font-size: 18px;
}

.text-block p {
    line-height: 1.5;
}