.success-message-container {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 600px;
}

.success-icon {
  width: 15em;
}

.success-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.success-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.success-button {
  margin-top: 10px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.success-button:hover {
  background-color: #0056b3;
}
