.checkout-form {
  width: 50%;
  margin: 2rem auto;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
}

.CheckoutLable{
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  width: 97%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.error-box {
  color: red;
  background: #ffe6e6;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #000bff;
}

.btn-secondary:hover {
  background-color: #4f5356;
}