/* src/components/common/header/header.css */

.header {
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: baseline;
  position: relative;
  height: 60px;
}

.logo {
  position: absolute;
  left: 50px;
  width: 70px;
  height: auto;
}

.nav-container {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.nav-links {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: ease 0.2s;
}

.nav-links a:hover {
  background-color: #ddd;
}

.search-bar {
  position: absolute;
  right: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  transition: border-color 0.2s;
}

.search-bar:focus {
  border-color: #aaa;
  outline: none;
}

.logout-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c4282b;
}
